body {
    margin: 0px;
    background-color: #313131;
}

.wrap-main {
    max-width: 1200px;
    margin: 0 auto;
}
.wrap-main-white {
    background-color: #FFFFFF;
    width: 80.08%;
    margin: 0 auto;
}
/*header-design*/
header {
    width: 100%;
    border-top: 6px solid #A7C353;
    margin: 0 auto;
}
.header-main{
    /*width: 921px;*/
    width: 95.83%;
    border-bottom: 1px solid #A7C353;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
}
.bars {
    display: none;
}
.bars i{
    color: #A7C353;
    cursor: pointer;
}
.bars i:hover {
    color: #6fc353;;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
  
li a {
    display: block;
    color: #979797;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 32px 12px;
    text-decoration: none;
}
li a:hover {
    background-color: #A7C353;
    color: #ffff;
}
.close {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    color: #979797;
}
.logo span:first-child{
    font-size: 32px;
    text-transform: uppercase;
}
/*slider section*/
.wrap-slider {
    width: 100%;
    margin: 0 auto;
}
.slider-quote {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: #666666;
    margin: 40px;
}
.slider {
    width: 95.83%;
    height: 427px;
    margin: 0 auto;
}
.slider-carousel {
    width: 100%;
    height: 350px;
    background-color: #353535;
    background-image: url(/UI_task/img/cute-funny-cat-wallpapers-image-download-【2018】.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.slider-arrows {
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.slider-arrows i {
    color: #A7C353;
}
.slider-arrows i:hover {
    color: #ffff;
    cursor: pointer;
}
.overlay {
    width: 351px;
    height: 150px;
    position: absolute;
    bottom: 35px;
    right: 62px;
}
.overlay-title {
    background-color: #A7C353;
    color: #ffff;
    text-align: center;
}
.overlay div p{
    background-color: #ffff;
    color: #666666;
    padding: 14px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.circle-point {
    width: 16px;
    height: 16px;
    background-color: #A7C353;
    border-radius: 50%;
    margin: 4px;
}

.circle-point:hover {
    border: 2px solid #A7C353;
    background-color: #ffff;
    cursor: pointer;
}
/*wrap-content*/
.wrap-content {
    width: 100%;
    margin: 0 auto;
}

main{
    width: 95.83%;
    border-top: 2px solid #E2E2E2;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #888888;
}
.section {
    width: 31%;
    margin-bottom: 40px
}
.section a{
    text-decoration: none;
    color: #A7C353;
    float: right;
    align-self: flex-end;
}
.section-service {
    display: flex;
    align-items: flex-start;
}
.section-service div * {
    margin: 0px 0px 10px 0px;
}
/*images*/
.section-service img{
    margin-right: 10px;
}
.section-img-big{
    max-width: 100%;
    height: 140px;
    border: 1px solid #ddd;
    padding: 5px;
}
.section-img-small {
    max-width: 100%;
    height: 64px;
}

.section-link  {
    float: right;
}
.section-tommy div{
    display: flex;
}
.section-tommy div:last-child {
    flex-direction: column;
}
.section-tommy div p{
    margin-top: 0px;
}
/*footer*/
footer {
    width: 80.08%;
    margin: 0 auto;
    color: #999999;
}
footer a{
    color: #A7C353;
    text-decoration: none;
}
.footer-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.column {
    width: 23%;
}
.column h4 {
    color: #FFFFFF;
}
.column-info {
    border-top: solid 2px #3A3A3A;
}
.column-info p {
    margin-bottom: 20px;
}
.column-info-icons {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #3A3A3A;
}
.column-info-icons span {
    margin-right: 10px;
    font-size: 24px;
}
.column-info-icons i:hover {
    background-color: #ffff;
    cursor: pointer;
}
.column-info-bpost {
    margin-bottom: 40px;
}
.column-info-bpost h4 {
    margin-bottom: 0px;
}
.column-info-bpost h4+p {
    margin-top: 0px;
}
.column-info-bpost a {
    float: right;
}
/*form part*/
form *{
    margin: 9px 0px 9px 0px;
    color: #989898;
}
input[type="text"],
input[type="email"] {
    padding: 8px;
    width: 89%;
    border: none;
    border-radius: 4px;
    background-color: #383838;
}
textarea {
    border: none;
    border-radius: 4px;
    padding: 8px;
    width: 89%;
    background-color: #383838;
}
input[type='submit']{
    padding: 11px 12px;
    font-size: 13px;
    color: #313131;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    background-color: #A7C353;
}
input[type='submit']:hover {
    background-color:#6fc353;
    cursor: pointer;
}
/*copyright*/
.footer-copyright {
    border-top: solid 2px #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*responsive part*/
@media screen and (max-width: 960px){
    footer,
    .wrap-main-white {
        width: 98%;
    }
}
/*footer*/
@media screen and (max-width: 800px){
    .bars,
    .close {
        display: block;
    }
    /*creation of overlay*/
    .menu {
        display: none;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: rgba(0,0,0,0.8);
    }
    
    li {
        float: none;
    }
    main,
    .footer-columns {
        flex-wrap: wrap;
    }
    .section:first-child {
        width: 98%;
    }
    .section-img-big {
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .section,
    .column {
        width: 48%
    }

    .overlay {
        opacity: 0.5;
        margin: 0 auto;
        position: absolute;
        right: inherit;
    }
}
@media screen and (max-width: 414px){
    main,
    .footer-columns {
        justify-content: center;
    }
    .section,
    .column {
        width: 98%
    }
    .footer-copyright {
        flex-wrap: wrap;
    }
}
.active {
    display: block;
}
.passive {
    display: none;
}